/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
  border: 10px;
  border-color: purple;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

#outer-box {
  background-color: purple;
  padding: 10px;


}

.white-text {
  color: white;
  background-color: red;
  border: 5px solid red;
}